<!DOCTYPE htm>
<html>

    <head>
        <meta charset="utf-8">
        <title></title>

        <body>
            <h1>{{page}}</h1>
            <footer>
                <p>Year: {{year}}</p>
            </footer>
        </body>

    </head>

</html>