<head>
    <style>
        nav {
            width: 100%;
            height: 100px;
            background-color: aquamarine;
        }

        ul {
            overflow: hidden;
            margin: 0 auto;
            clear: both;
            width: 400px;
            list-style-type: none;
        }

        ul li {
            margin: 20px;
            padding: 20px;
            float: left;
        }

        ul li a {
            text-decoration: none;
            font-size: 30px;
            color: white;
        }
    </style>
</head>
<header>
    <nav>
        <ul>
            <li>
                <a href="/home">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
        </ul>
    </nav>
</header>