<!DOCTYPE htm>
<htm>

    <head>
        <meta charset="utf-8">
        <title>Home page</title>

        <body>

            <header>{{>header}}</header>
            <h1 style="color:blue">{{screamIt "welcome"}} </h1>
            <h1 style="color:blue">{{page}}</h1>
            <footer>
                <p>
                    {{>footer}}
                </p>

            </footer>
        </body>

    </head>

</htm>